# Data Preprocessing

The goal of this lab is to introduce you to data preprocessing techniques in order to make your data suitable for applying a learning algorithm.

## 1. Handling Missing Values

A common (and very unfortunate) data property is the ocurrence of missing and erroneous values in multiple features in datasets. For this exercise we will be using a data set about abalone snails.
The data set is contained in the Zip file you downloaded from Moodle (abalone.csv).

To determine the age of a abalone snail you have to kill the snail and count the annual
rings. You are told to estimate the age of a snail on the basis of the following attributes:
1. type: male (0), female (1) and infant (2)
2. length in mm
3. width in mm
4. height in mm
5. total weight in grams
6. weight of the meat in grams
7. drained weight in grams
8. weight of the shell in grams
9. number of annual rings (number of rings +1, 5 yields age)

However, the data is incomplete. Missing values are marked with −1.

In [1]:
import pandas as pd
# load data 
df = pd.read_csv("http://www.cs.uni-potsdam.de/ml/teaching/ss15/ida/uebung02/abalone.csv") #Should this not work please use the csv that was part of the zip file.
df.columns=['type','length','width','height','total_weight','meat_weight','drained_weight','shell_weight','num_rings']
df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,-1
1,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,2,-1.000,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,2,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

### Exercise 1.1

Compute the mean of of each numeric column and the counts of each categorical column, excluding the missing values.

In [2]:
# 결측치를 제외하고 평균을 추출하라

#df.replace(-1, pd.NA, inplace=True)  # -1을 NA로 변경, inplace=True로 원본을 변경

df_nomv = df.replace(-1, pd.NA) # missing value -1 to NA, to exclude missing value out of mean calculation

df_mean = [df[colname].mean() for colname in df.columns] # calculate mean of each column

#df_nomv.head()
df_mean = pd.DataFrame([df_mean], columns=df.columns) # convert data in list to dataframe

df_mean.head()
df_mean.round(2) # decimal point 2

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.91,0.48,0.37,0.11,0.78,0.32,0.15,0.21,9.66

### Exercise 1.2

Compute the median of each numeric column,  excluding the missing values.

In [3]:
# 결측치를 제외하고 중앙값을 추출하라

df_median = [df[colname].median() for colname in df.columns] # calculate median of each column
df_median = pd.DataFrame([df_median], columns=df.columns) # convert data in list to dataframe

df_median.head()
df_median.round(2) # decimal point 2

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,1.0,0.54,0.42,0.14,0.78,0.33,0.17,0.22,9.0

### Exercise 1.3

Handle the missing values in a way that you find suitable. Think about different ways. Discuss dis-/advantages of your approach. Argue your choices.

Missing values를 처리하는 많은 방법이 있다. 각 방법의 장단점을 고려하여 적절한 방법을 찾아보도록 하자.

개수가 적은 경우에는 인스턴스 자체를 삭제해버릴 수도 있다. 아니면 새로운 binary attribute를 넣어서 결측 유무를 표시할수도 있다.


평균 또는 중간값으로 해당 값을 대체할수도 있고, Regression이나 예측 모델을 사용할수도 있다.

해당 데이터를 삭제해버리는 것은 너무 brutal하니, numerical 밸류는 평균으로, categorical은 median으로 대체해보도록 하자

In [4]:
df_nomv.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,<NA>
1,1,0.53,0.42,0.135,0.677,0.2565,0.1415,0.21,9
2,0,0.44,0.365,0.125,0.516,0.2155,0.114,0.155,10
3,2,<NA>,0.255,0.08,0.205,0.0895,0.0395,0.055,7
4,2,0.425,0.3,0.095,0.3515,0.141,0.0775,0.12,8

In [5]:
# df_new = df_nomv는 df_nomv의 주소를 참조하므로 df_nomv를 변경하면 df_new도 변경된다.
# df_new = df_nomv is reference of df_nomv, so if df_nomv is changed, df_new is also changed.
df_new  = df_nomv.copy() # copy dataframe to new dataframe

df_new['type'] = df_new['type'].replace(pd.NA, df_median['type'][0]) # replace missing value in 'type' column with median value

df_new['num_rings'] = df_new['num_rings'].replace(pd.NA, df_median['num_rings'][0])# same for ring column
#df_new['num_rings'] = df_new['num_rings'].fillna(df_median['num_rings'][0])  # from chatGPT, it's supposed to execute same as above

# fill missing value with mean value from corresponding column
for col in df_new.columns:
    df_new[col] = df_new[col].replace(pd.NA, df_mean[col][0])

df_new.head()
df_new.round(2)

C:\Users\exima\AppData\Local\Temp\ipykernel_15940\438668909.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['type'] = df_new['type'].replace(pd.NA, df_median['type'][0]) # replace missing value in 'type' column with median value
C:\Users\exima\AppData\Local\Temp\ipykernel_15940\438668909.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['num_rings'] = df_new['num_rings'].replace(pd.NA, df_median['num_rings'][0])# same for ring column
C:\Users\exima\AppData\Local\Temp\ipykernel_15940\438668909.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new[col] = df_new[col].replace(pd.NA, df_mean[col][0])

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.0,0.35,0.26,0.09,0.23,0.10,0.05,0.07,9.0
1,1.0,0.53,0.42,0.14,0.68,0.26,0.14,0.21,9.0
2,0.0,0.44,0.36,0.12,0.52,0.22,0.11,0.16,10.0
3,2.0,0.48,0.26,0.08,0.20,0.09,0.04,0.06,7.0
4,2.0,0.42,0.30,0.10,0.35,0.14,0.08,0.12,8.0
...,...,...,...,...,...,...,...,...,...
4171,1.0,0.56,0.45,0.16,0.89,0.37,0.24,0.25,11.0
4172,0.0,0.59,0.44,0.14,0.97,0.44,0.21,0.26,10.0
4173,0.0,0.60,0.48,0.20,1.18,0.53,0.29,0.31,9.0
4174,1.0,0.62,0.48,0.15,0.78,0.53,0.26,0.30,10.0
4175,0.0,0.71,0.56,0.20,1.95,0.95,0.38,0.50,12.0

### Exercise 1.4

Perform Z-score normalization on every column (except the type of course!)

In [6]:
z_df = df_new - df_new.mean() / df_new.std() # z-score normalization
z_df = z_df.round(2)
z_df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,-1.17,-4.05,-3.88,-3.25,-1.49,-1.53,-1.61,-1.66,5.9
1,-0.17,-3.87,-3.73,-3.20,-1.03,-1.38,-1.52,-1.52,5.9
2,-1.17,-3.96,-3.78,-3.21,-1.20,-1.42,-1.55,-1.57,6.9
3,0.83,-3.92,-3.89,-3.26,-1.51,-1.54,-1.62,-1.67,3.9
4,0.83,-3.97,-3.85,-3.24,-1.36,-1.49,-1.58,-1.61,4.9

## 2. Preprocessing text (Optional)

One possible way to transform text documents into vectors of numeric attributes is to use the TF-IDF representation. We will experiment with this representation using the 20 Newsgroup data set. The data set contains postings on 20 different topics. The classification problem is to decide which of the topics a posting falls into. Here, we will only consider postings about medicine and space.

In [7]:
from sklearn.datasets import fetch_20newsgroups


categories = ['sci.med', 'sci.space'] # train은 트레이닝 데이터 서브셋
raw_data = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42) # random_state는 난수 생성할때 쓰이는 시드값. 같은 시드값을 주면 같은 난수가 생성된다.
# raw_data는 dictionary 형태로 저장되어 있음. keys()로 확인 가능.
print(f'The index of each category is: {[(i,target) for i,target in enumerate(raw_data.target_names)]}') # target_names는 카테고리 이름을 저장하고 있음.

The index of each category is: [(0, 'sci.med'), (1, 'sci.space')]

Check out some of the postings, might find some funny ones!

In [8]:
import numpy as np
idx = np.random.randint(0, len(raw_data.data)) #
print(raw_data.target[idx]) # target은 카테고리 인덱스를 나타냄. idx는 랜덤으로 추출한 이메일의 인덱스. 즉 그 이메일이 어떤 카테고리에 속하는지 나타냄.
print(idx)
print (f'This is a {raw_data.target_names[raw_data.target[idx]]} email.\n') #raw_data.target[idx]는 해당 이메일의 카테고리 인덱스를 나타냄.
print (f'There are {len(raw_data.data)} emails.\n') # 전체 이메일 수
print(raw_data.data[idx]) # 전체 이메일 중 idx번째 이메일을 출력.

0
943
This is a sci.med email.

There are 1187 emails.

From: geb@cs.pitt.edu (Gordon Banks)
Subject: Re: Could this be a migraine?
Reply-To: geb@cs.pitt.edu (Gordon Banks)
Organization: Univ. of Pittsburgh Computer Science
Lines: 34


In article <20773.3049.uupcb@factory.com> jim.zisfein@factory.com (Jim Zisfein) writes:

>Headaches that seriously interfere with activities of daily living
>affect about 15% of the population.  Doesn't that sound like
>something a "primary care" physician should know something about?  I
>tend to agree with HMO administrators - family physicians should
>learn the basics of headache management.
>
Absolutely.  Unfortunately, most of them have had 3 weeks of neurology
in medical school and 1 month (maybe) in their residency.  Most
of that is done in the hospital where migraines rarely are seen.
Where are they supposed to learn?  Those who are diligent and
read do learn, but most don't, unfortunately.

>Sometimes I wonder what tension-type headaches have to do with
>neurology anyway.

We are the only ones, sometimes, who have enough interest in headaches
to spend the time to get enough history to diagnose them.  Too often,
the primary care physician hears "headache" and loses interest in
anything but giving the patient analgesics and getting them out of
the office so they can get on to something more interesting.


>(I am excepting migraine, which is arguably neurologic).  Headaches

I hope you meant "inarguably".

--
----------------------------------------------------------------------------
Gordon Banks  N3JXP      | "Skepticism is the chastity of the intellect, and
geb@cadre.dsl.pitt.edu   |  it is shameful to surrender it too soon."
----------------------------------------------------------------------------

Lets pick the first 10 postings from each category

In [9]:
idxs_med = np.flatnonzero(raw_data.target == 0) # 각 카테고리에 맞는 해당 변수의 인덱스를 추출해서 새 변수에 저장
# print(idxs_med)
idxs_space = np.flatnonzero(raw_data.target == 1)
# flatnonzero 함수는 0이 아닌 요소의 인덱스를 반환하는 함수. 여기서는 target이 0인 인덱스를 추출.
# 이 함수는 다차원 배열을 1차원으로 평평하게 만든 후, 0이 아닌 요소의 인덱스를 반환.

idxs = np.concatenate([idxs_med[:10],idxs_space[:10]]) # 각 카테고리에서 맨 앞 10개의 인덱스를 추출해서 idx에 저장. 
# concatenate 함수는 두 배열을 합치는 함수. 여기서는 0~9번째까지의 med와 0~9번째까지의 space를 합쳐서 20개를 추출.

data = np.array(raw_data.data) # 인덱스에 해당하는 데이터를 추출하기 위해 numpy array로 변환
data = data[idxs] # 인덱스에 해당하는 데이터만 추출

<a href="http://www.nltk.org/">NLTK</a> is a toolkit for natural language processing. Take some time to install it and go through this <a href="http://www.slideshare.net/japerk/nltk-in-20-minutes">short tutorial/presentation</a>. (or use e.g. Google colab where the package is prepared already)

The downloaded package below is a tokenizer that divides a text into a list of sentences, by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.

In [10]:
import nltk
import itertools
nltk.download('punkt')

# Tokenize the sentences into words
tokenized_sentences = [nltk.word_tokenize(sent) for sent in data]
vocabulary_size = 1000
unknown_token = 'unknown'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\exima\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

토큰화(tokenization)는 텍스트를 작은 단위로 나누는 과정을 말합니다. 이 작은 단위는 주로 단어, 문장 또는 문단이 될 수 있습니다. 일반적으로 자연어 처리에서는 문장을 단어로 분할하는 것이 일반적입니다. 예를 들어, "Hello, how are you?"라는 문장을 토큰화하면 다음과 같이 단어로 분할됩니다:

원본 문장: "Hello, how are you?"

토큰화 결과: ["Hello", ",", "how", "are", "you", "?"]

이렇게 텍스트를 단어 단위로 나누는 과정을 토큰화라고 합니다. 토큰화는 자연어 처리 작업에서 매우 중요한 전처리 단계 중 하나입니다. 이를 통해 텍스트 데이터를 모델에 입력으로 사용할 수 있도록 준비할 수 있습니다.

위 코드는 NLTK에서 제공하는 문장 토크나이저인 punkt를 다운로드하고, 이를 사용하여 문장을 단어로 토큰화하는 작업을 수행합니다.

1. `nltk.download('punkt')`: NLTK에서 제공하는 punkt 토크나이저를 다운로드하는 명령입니다. 이 토크나이저는 문장을 단어로 토큰화하는 데 사용됩니다.
2. `tokenized_sentences` = [nltk.word_tokenize(sent) for sent in data]: 각 문장을 단어로 토큰화하여 리스트에 저장합니다. data는 토큰화할 문장의 리스트입니다.
3. `vocabulary_size = 1000`: 단어 집합의 크기를 지정합니다. 이는 모델이 학습할 최대 단어의 개수를 결정합니다.
4. `unknown_token = 'unknown'`: 알려지지 않은 단어(unknown word)를 나타내는 특별한 토큰을 정의합니다. 모델이 학습되지 않은 단어는 이 토큰으로 대체됩니다.

이제 tokenized_sentences에는 각 문장이 단어로 토큰화된 리스트가 저장되어 있습니다. 이를 사용하여 자연어 처리 작업을 수행할 수 있습니다.

In [11]:
# Count the word frequencies
word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences))
print (f"Found {len(word_freq.items())} unique words tokens.")

Found 1636 unique words tokens.

위 코드는 NLTK의 `FreqDist`를 사용하여 토큰화된 문장에서 고유한 단어 토큰의 빈도를 계산하는 작업을 수행합니다.

- `itertools.chain(*tokenized_sentences)`는 `tokenized_sentences` 리스트에 있는 각 문장의 단어 토큰 리스트를 하나의 이터레이터로 결합합니다. 이는 여러 리스트를 하나의 단일 리스트로 만듭니다.

- `nltk.FreqDist()`는 주어진 리스트의 요소의 빈도를 계산합니다. 여기서는 모든 문장의 단어 토큰을 하나의 리스트로 결합한 이터레이터를 입력으로 사용합니다.

- `word_freq.items()`는 빈도 분포 객체에서 각 단어와 해당 빈도를 포함하는 (단어, 빈도) 튜플의 리스트를 반환합니다. 이 리스트의 길이를 계산하여 총 고유한 단어 토큰의 수를 출력합니다.

여기서 '이터레이터(iterator)'란 파이썬에서 반복 가능한(iterable) 객체에서 원소를 하나씩 순서대로 꺼내올 수 있는 객체를 말합니다. 이터레이터는 주로 for 루프를 사용하여 순회하거나 next() 함수를 사용하여 원소를 하나씩 가져오는 데 사용됩니다.

예를 들어, 리스트, 튜플, 세트 등의 컬렉션은 이터레이터입니다. 즉, 이들은 반복 가능하며 for 루프를 사용하여 순회할 수 있습니다. 하지만 이터레이터는 전체 요소를 한 번에 메모리에 저장하지 않고 필요한 만큼 요소를 생성하므로 메모리를 효율적으로 사용할 수 있습니다.

In [12]:
# Get the most common words and build index_to_word and word_to_index vectors
vocab = word_freq.most_common(vocabulary_size-1)
index_to_word = [x[0] for x in vocab]
index_to_word.append(unknown_token)
word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])
 
print (f"Using vocabulary size {vocabulary_size}." )
print (f"The least frequent word in our vocabulary is '{vocab[-1][0]}' and appeared {vocab[-1][1]} times.")
print(f"index to word is {index_to_word[5][2]}")
print(vocab[1][1])

total = [x[1] for x in vocab]
print(vocab)
print(vocab[2][0])
print(total)
total = sum(total)
print(f"total number of words: {total}")

Using vocabulary size 1000.
The least frequent word in our vocabulary is 'AN' and appeared 1 times.
index to word is e
152
[(':', 158), ('.', 152), (',', 142), ('--', 139), ('>', 136), ('the', 124), (')', 88), ('to', 86), ('(', 83), ('of', 74), ('@', 73), ('a', 63), ('and', 63), ('I', 58), ('that', 54), ('is', 53), ('in', 42), ('it', 37), ('be', 36), ('?', 36), ('for', 35), ('!', 32), ('this', 31), ("n't", 30), ('*', 26), ('are', 24), ("'s", 23), ('From', 21), ('do', 21), ('Subject', 20), ('Organization', 20), ('Lines', 20), ("''", 20), ('on', 19), ('have', 18), ('as', 17), ('not', 17), ('``', 16), ('you', 16), ('In', 15), ('an', 15), ('was', 15), ('we', 14), ('Re', 13), ('The', 13), ('-', 13), ('<', 12), ('would', 12), ('if', 12), ('o', 12), ('writes', 11), ('will', 11), ('It', 11), ('but', 11), ('or', 11), ('they', 11), ('Space', 11), ('article', 10), ('may', 10), ('with', 10), ('food', 10), ('by', 10), ('what', 10), ('...', 10), ('see', 10), ('like', 9), ('should', 9), ('can', 9), ('there', 9), ('some', 9), ('about', 9), ('at', 9), ('know', 8), ('up', 8), ('who', 8), ('..', 8), ('Griffin', 8), ('out', 7), ('which', 7), ('Is', 7), ('diet', 7), ('one', 7), ('inflammation', 7), ('used', 7), ('stage', 7), ('any', 6), ('does', 6), ('Crohn', 6), ('has', 6), ('things', 6), ('But', 6), ('my', 6), ('them', 6), ('more', 6), ('3', 6), ('all', 6), ('space', 6), ('$', 6), ('billion', 6), ('Reply-To', 5), ('Ken', 5), ('anyone', 5), ('their', 5), ("'d", 5), ('cause', 5), ('problems', 5), ('Steve', 5), ('because', 5), ('been', 5), ('told', 5), ('doctor', 5), ('now', 5), ('had', 5), ('good', 5), ('anything', 5), ('point', 5), ('when', 5), ('think', 5), ('just', 5), ('from', 5), ('people', 5), ('[', 5), (']', 5), ('University', 5), ('body', 5), ('high', 5), ('so', 5), ('MSG', 5), ('very', 5), ('wife', 5), ('THE', 5), ('FOOD', 5), ('SOME', 5), ('1', 5), ('dougb', 5), ('Doug', 5), ('need', 5), ("'m", 5), ("'", 5), ('Office', 5), ('Does', 4), ('called', 4), ('without', 4), ('Robert', 4), ('My', 4), ("'ve", 4), ('other', 4), ('David', 4), ('For', 4), ('A', 4), ('person', 4), ('no', 4), ('simply', 4), ('There', 4), ('patients', 4), ('causes', 4), ('get', 4), ('try', 4), ('getting', 4), ('were', 4), ('only', 4), ('few', 4), ('If', 4), ('while', 4), ('able', 4), ('than', 4), ('could', 4), ('5', 4), ('concerned', 4), ('around', 4), ('Nntp-Posting-Host', 4), ('IN', 4), ('IS', 4), ('OF', 4), ('4', 4), ('read', 4), ('ultrasound', 4), ('radiologist', 4), ('where', 4), ('nsmca', 4), ('acad3.alaska.edu', 4), ('station', 4), ('least', 4), ('into', 4), ('he', 4), ('Mars', 4), ('first', 4), ('kjenks', 4), ('gothamcity.jsc.nasa.gov', 4), ('NASA', 4), ('szabo', 4), ('techbook.com', 4), ('version', 4), ('geb', 3), ('Gordon', 3), ('Banks', 3), ('Univ', 3), ('Computer', 3), ('walrus.mvhs.edu', 3), ('All', 3), ('via', 3), ('believe', 3), ('|', 3), ('too', 3), ('soon', 3), ('Allison', 3), ('nosebleeds', 3), ('25', 3), ('each', 3), ('hear', 3), ('enterprise.bih.harvard.edu', 3), ('erythromycin', 3), ('NNTP-Posting-Host', 3), ('pneumonia', 3), ('Holland', 3), ('raw', 3), ('patient', 3), ('her', 3), ('aio.jsc.nasa.gov', 3), ('S.', 3), ('wrote', 3), ('foods', 3), ('interest', 3), ('enough', 3), ('idea', 3), ('residue', 3), ('system', 3), ('Therefore', 3), ('low', 3), ('go', 3), ('etc', 3), ('little', 3), ('day', 3), ('give', 3), ("'re", 3), ('take', 3), ('starting', 3), ('Good', 3), ('real', 3), ('say', 3), ('dyer', 3), ('Dyer', 3), ('remember', 3), ('back', 3), ('new', 3), ('these', 3), ('me', 3), ('different', 3), ('substances', 3), ('then', 3), ('Walter', 3), ('Lundby', 3), ('Motorola', 3), ('TO', 3), ('THAT', 3), ('DO', 3), ('2', 3), ('dye', 3), ('#', 3), ('why', 3), ('tm', 3), ('office', 3), ('pictures', 3), ('find', 3), ('Phil', 3), ('Fraering', 3), ('pgf', 3), ('Caste', 3), ('Article-I.D', 3), ('Station', 3), ('maybe', 3), ('program', 3), ('Spiros', 3), ('Electronics', 3), ('world', 3), ('his', 3), ('reward', 3), ('713', 3), ('Goldin', 3), ('clj', 3), ('ksr.com', 3), ('Chris', 3), ('Jones', 3), ('Proton', 3), ('Mir', 3), ('hsc.usc.edu', 3), ('cs.pitt.edu', 2), ('ktodd', 2), ('rare', 2), ('disease', 2), ('respond', 2), ('email', 2), ('actually', 2), ('SND', 2), ('case', 2), ('therapy', 2), ('much', 2), ('ab961', 2), ('Freenet.carleton.ca', 2), ('18', 2), ('between', 2), ('tried', 2), ('rind', 2), ('Rind', 2), ('School', 2), ('11', 2), ('treating', 2), ('young', 2), ('choice', 2), ('since', 2), ('two', 2), ('pneumoniae', 2), ('Distribution', 2), ('vegetables', 2), ('obstruction', 2), ('dietary', 2), ('restriction', 2), ('otherwise', 2), ('certainly', 2), ('bring', 2), ('enhanced', 2), ('due', 2), ('feeling', 2), ('changed', 2), ('current', 2), ('even', 2), ('lack', 2), ('small', 2), ('major', 2), ('problem', 2), ('digest', 2), ('avoided', 2), ('again', 2), ('items', 2), ('same', 2), ('fruit', 2), ('nuts', 2), ('giving', 2), ('fudge', 2), ('appropriate', 2), ('felt', 2), ('though', 2), ('grain', 2), ('mostly', 2), ('long', 2), ('digestive', 2), ('processing', 2), ('better', 2), ('age', 2), ('whole', 2), ('want', 2), ('possible', 2), ('among', 2), ('how', 2), ('bad', 2), ('As', 2), ('Do', 2), ('given', 2), ('Spencer', 2), ('tell', 2), ('avoid', 2), ('sure', 2), ('second', 2), ('end', 2), ('months', 2), ('issue', 2), ('worth', 2), ('And', 2), ('Luck', 2), ('seizures', 2), ('cup.portal.com', 2), ('interesting', 2), ('anecdotal', 2), ('results', 2), ('sensitive', 2), ('chemicals', 2), ('show', 2), ('Of', 2), ('course', 2), ('children', 2), ('{', 2), ('}', 2), ('et', 2), ('Software', 2), ('They', 2), ('HELP', 2), ('ME', 2), ('sp', 2), ('nutrasweet', 2), ('Division', 2), ('couple', 2), ('Some', 2), ('formaldehyde', 2), ('known', 2), ('methanol', 2), ('uses', 2), ('eliminate', 2), ('whether', 2), ('levels', 2), ('damage', 2), ('toxic', 2), ('cells', 2), ('pregnant', 2), ('easily', 2), ('detected', 2), ('sensitivity', 2), ('Inc.', 2), ('such', 2), ('WHY', 2), ('industry', 2), ('IT', 2), ('GET', 2), ('NOT', 2), ('Why', 2), ('outlaw', 2), ('use', 2), ('large', 2), ('those', 2), ('free', 2), ('yellow', 2), ('junk', 2), ('Bank', 2), ('ecs.comm.mot.com', 2), ('Sector', 2), ('28', 2), ('ob-gyn', 2), ('fetal', 2), ('On', 2), ('ultrasounds', 2), ('something', 2), ('expert', 2), ('Should', 2), ('opinion', 2), ('really', 2), ('ca', 2), ('Any', 2), ('G.', 2), ('srl03.cacs.usl.edu', 2), ('human', 2), ('aurora.alaska.edu', 2), ('Alaska', 2), ('Fairbanks', 2), ('revolt', 2), ('files', 2), ('mean', 2), ('design', 2), ('look', 2), ('==', 2), ('Michael', 2), ('Adams', 2), ('jacked', 2), ('c23st', 2), ('kocrsv01.delcoelect.com', 2), ('Triantafyllopoulos', 2), ('radio', 2), ('commercial', 2), ('Delco', 2), ('This', 2), ('heard', 2), ('begin', 2), ('offices', 2), ('Exploration', 2), ('Sciences', 2), ('position', 2), ('seemed', 2), ('someone', 2), ('interested', 2), ('done', 2), ('old', 2), ('400', 2), ('mission', 2), ('20', 2), ('stuff', 2), ('trying', 2), ('moon', 2), ('developed', 2), ('Jenks', 2), ('NASA/JSC/GM2', 2), ('Shuttle', 2), ('Program', 2), ('483-4368', 2), ('Daniel', 2), ('Administrator', 2), ('Russians', 2), ('resources', 2), ('wonder', 2), ('Ralph', 2), ('29', 2), ('sc', 2), ('Here', 2), ('consider', 2), ('Proton/Centaur', 2), ('prb', 2), ('Pat', 2), ('zeus.calpoly.edu', 2), ('Centaur', 2), ('versions', 2), ('orbits', 2), ('Egan', 2), ('addresses', 2), ('companies', 2), ('Houston', 2), ('TX', 2), ('khayash', 2), ('our', 2), ('rest', 2), ('live', 2), ('technical', 2), ('analysis', 2), ('mccall', 2), ('ETHER', 2), ('speak', 2), ('Striato', 1), ('Nigral', 1), ('Degeneration', 1), ('Pittsburgh', 1), ('Science', 1), ('16', 1), ('9303252134.AA09923', 1), ('Todd', 1), ('information', 1), ('available', 1), ('understand', 1), ('operation', 1), ('referred', 1), ('POLLIDOTOMY', 1), ('order', 1), ('physician', 1), ('performs', 1), ('procedure', 1), ('responses', 1), ('appreciated', 1), ('Please', 1), ('Many', 1), ('cases', 1), ("Parkinson's", 1), ('Disease', 1), ('turn', 1), ('autopsy', 1), ('suspected', 1), ('Parkinsonism', 1), ('tremor', 1), ('L-dopa', 1), ('pallidotomy', 1), ('N3JXP', 1), ('Skepticism', 1), ('chastity', 1), ('intellect', 1), ('cadre.dsl.pitt.edu', 1), ('shameful', 1), ('surrender', 1), ('Frequent', 1), ('National', 1), ('Capital', 1), ('Freenet', 1), ('15', 1), ('week', 1), ('result', 1), ('genetic', 1), ('predisposition', 1), ('weak', 1), ('capillary', 1), ('walls', 1), ('Osler-Weber-Rendu', 1), ('Fortunately', 1), ('nosebleed', 1), ('short', 1), ('duration', 1), ('method', 1), ('reduce', 1), ('frequency', 1), ('younger', 1), ('brothers', 1), ('skin', 1), ('transplant', 1), ('thigh', 1), ('nose', 1), ('lining', 1), ('returned', 1), ('seen', 1), ('reference', 1), ('herb', 1), ('Rutin', 1), ('supposed', 1), ('help', 1), ('experiences', 1), ('techniques', 1), ('Ottawa', 1), ('Ontario', 1), ('CANADA', 1), ('Beth', 1), ('Israel', 1), ('Hospital', 1), ('Harvard', 1), ('Medical', 1), ('Boston', 1), ('Mass.', 1), ('USA', 1), ('47974', 1), ('sdcc12.ucsd.edu', 1), ('wsun', 1), ('jeeves.ucsd.edu', 1), ('Fiberman', 1), ('effective', 1), ('depends', 1), ('bacterial', 1), ('otherwise-healthy', 1), ('non-smokers', 1), ('usually', 1), ('considered', 1), ('antibiotic', 1), ('covers', 1), ('most-common', 1), ('pathogens', 1), ('strep', 1), ('mycoplasma', 1), ('uabdpo.dpo.uab.edu', 1), ('gila005', 1), ('Stephen', 1), ('IBD', 1), ('Gastroenterology', 1), ('Alabama', 1), ('usa', 1), ('81', 1), ('Summary', 1), ('thread', 1), ('Crohns', 1), ('unspecified', 1), ('replies', 1), ('mild', 1), ('Avoid', 1), ('plug', 1), ('general', 1), ('1993Apr22.210631.13300', 1), ('spenser', 1), ('fudd.jsc.nasa.gov', 1), ('Spenser', 1), ('Aden', 1), ('Interesting', 1), ('statements', 1), ("I'm", 1), ('questioning', 1), ('claims', 1), ('am', 1), ('agree', 1), ('recurrence', 1), ('either', 1), ('mildly', 1), ('DRASTICALLY', 1), ('obout', 1), ('GI', 1), ('community', 1), ('induced', 1), ('evidence', 1), ('deprived', 1), ('mucosal', 1), ('atrophy', 1), ('stimulation', 1), ('intestinal', 1), ('growth', 1), ('factors', 1), ('providing', 1), ('amounts', 1), ('nasogastric', 1), ('feeding', 1), ('IV', 1), ('nutrition', 1), ('digress', 1), ('Symptoms', 1), ('drastically', 1), ('Having', 1), ('resulting', 1), ('resection', 1), ('caveat', 1), ('LOW', 1), ('RESIDUE', 1), ('Basically', 1), ('gut', 1), ('realized', 1), ('caught', 1), ('folds', 1), ('constantly', 1), ('irritate', 1), ('thus', 1), ('exacerbating', 1), ('completely', 1), ('common', 1), ('With', 1), ('typical', 1), ('terminal', 1), ('ileum', 1), ('consisting', 1), ('Completely', 1), ('never', 1), ('corn', 1), ('kernel', 1), ('husk', 1), ('most', 1), ('us', 1), ('popcorn', 1), ('dried', 1), ('dehydrated', 1), ('skins', 1), ('Very', 1), ('tough', 1), ('comes', 1), ('still', 1), ('obstructions', 1), ('Again', 1), ('These', 1), ('stuck', 1), ('ahead', 1), (';', 1), ('Discouraged', 1), ('greatly', 1), ('fibrous', 1), ('wheat', 1), ('breads', 1), ('exotic', 1), ('lettuce', 1), ('iceberg', 1), ('ok', 1), ('apparently', 1), ('water', 1), ('greens', 1), ('turnip', 1), ('mustard', 1), ('kale', 1), ('seeds', 1), ('sesame', 1), ('Arby', 1), ('wild', 1), ('rice', 1), ('husky', 1), ('beans', 1), ("'ll", 1), ('generate', 1), ('gas', 1), ('alone', 1), ('BASICALLY', 1), ('requires', 1), ('heavy', 1), ('processed', 1), ('rather', 1), ('ironic', 1), ('PREVENTATIVE', 1), ('your', 1), ('chance', 1), ('inflame', 1), ('NUMEROUS', 1), ('heavily', 1), ('discouraged', 1), ('listed', 1), ('ones', 1), ('wanted', 1), ('Remember', 1), ('remission', 1), ('Veggies', 1), ('cook', 1), ('daylights', 1), ('prefer', 1), ('steaming', 1), ('cooks', 1), ('thoroughly', 1), ('mileage', 1), ('vary', 1), ('else', 1), ('CHECK', 1), ('WITH', 1), ('YOUR', 1), ('DOCTOR', 1), ('word', 1), ('info', 1), ('discussion', 1), ('luck', 1), ('makes', 1), ('especially', 1), ('having', 1), ('observant', 1), ('informed', 1), ('Would', 1), ('many', 1), ('changing', 1), ('Be', 1), ('tested', 1), ('time', 1), ("Crohn's", 1), ('commonly', 1), ('intermittent', 1), ('symptoms', 1), ('severly', 1), ('restricted', 1), ('diets', 1), ('renormalize', 1), ('CCFA', 1), ('newsletter', 1), ('recently', 1), ('discussed', 1), ('fiber', 1), ('reading', 1), ('always', 1), ('dealing', 1), ('spdcc.com', 1), ('food-related', 1), ('S.P', 1), ('Consulting', 1), ('Cambridge', 1), ('MA', 1), ('79727', 1), ('mmm', 1), ('Mark', 1), ('Thorson', 1), ('hearing', 1), ('years', 1), ('hyperactivity', 1), ('involved', 1), ('aggressively', 1), ('eliminating', 1), ('artificial', 1), ('coloring', 1), ('flavoring', 1), ('theory', 1), ('backed', 1), ('certain', 1), ('way', 1), ('connection', 1), ('being', 1), ('made', 1), ('hurt', 1), ('all-natural', 1), ('Yeah', 1), ('Feingold', 1), ('Diet', 1), ('load', 1), ('crap', 1), ('Children', 1), ('diagnosed', 1), ('ADD', 1), ('placed', 1), ('improvement', 1), ('intellectual', 1), ('social', 1), ('skills', 1), ('fact', 1), ('continue', 1), ('decline', 1), ('parents', 1), ('enthusiastic', 1), ('approach', 1), ('lap', 1), ('expense', 1), ('development', 1), ('So', 1), ('value', 1), ('People', 1), ('ursa-major.spdcc.com', 1), ('aka', 1), ('ima', 1), ('harvard', 1), ('rayssd', 1), ('linus', 1), ('m2c', 1), ('spdcc', 1), ('Mark-Tarbell', 1), ('suite.com', 1), ('Amniocentesis', 1), ('al', 1), ('Suite', 1), ('7', 1), ('suite', 1), ('tarbell', 1), ('uunet.uu.net', 1), ('gilgamesh.suite.com', 1), ('difference', 1), ('purposes', 1), ('behind', 1), ('amniocentesis', 1), ('chorionic', 1), ('villi', 1), ('sampling', 1), ('sound', 1), ('similar', 1), ('intended', 1), ('detect', 1), ('Thanks', 1), ('\x03', 1), ('mmatusev', 1), ('radford.vak12ed.edu', 1), ('Melissa', 1), ('N.', 1), ('Matusevich', 1), ('INJECT', 1), ('Virginia', 1), ('Public', 1), ('Education', 1), ('Network', 1), ('Radford', 1), ('According', 1), ('previous', 1), ('poster', 1), ('seek', 1), ("doctor's", 1), ('assistance', 1), ('injections', 1), ('Sumatriptin', 1), ('inject', 1), ('oneself', 1), ('immediately', 1), ('upon', 1), ('onset', 1), ('migraine', 1), ('hbloom', 1), ('moose.uvm.edu', 1), ('Heather', 1), ('re', 1), ('aspartame', 1), ('Vermont', 1), ('EMBA', 1), ('Facility', 1), ('21', 1), ('Nutrasweet', 1), ('synthetic', 1), ('sweetener', 1), ('thousand', 1), ('times', 1), ('sweeter', 1), ('sugar', 1), ('produces', 1), ('degrades', 1), ('thought', 1), ('form', 1), ('degredation', 1), ('pathway', 1), ('produced', 1), ('significant', 1), ('both', 1), ('living', 1), ('consume', 1), ('Phenylalanine', 1), ('nothing', 1), ('worry', 1), ('amino', 1), ('acid', 1), ('everyone', 1), ('quantities', 1), ('protein', 1), ('synthesis', 1), ('phenylketoneurea', 1), ('missing', 1), ('enzyme', 1), ('necessary', 1), ('degrade', 1), ('compound', 1), ('accumulate', 1), ('growing', 1), ('nerve', 1), ('Only', 1), ('until', 1), ('10', 1), ('women', 1), ('disorder', 1), ('leading', 1), ('brain', 1), ('infants', 1), ('birth', 1), ('must', 1), ('comsumption', 1), ('phenylalanine', 1), ('child', 1), ('-heather', 1), ('lundby', 1), ('rtsg.mot.com', 1), ('F.', 1), ('superstition', 1), ('accord2', 1), ('Cellular', 1), ('Infrastructure', 1), ('Group', 1), ('48', 1), ('thing', 1), ('monosodium', 1), ('glutamate', 1), ('Superstition', 1), ('Anybody', 1), ('here', 1), ('experience', 1), ('contrary', 1), ('msg', 1), ('whose', 1), ('kids', 1), ('WANT', 1), ('KNOW', 1), ('INDUSTRY', 1), ('WANTS', 1), ('PUT', 1), ('Somebody', 1), ('GIVE', 1), ('REASONS', 1), ('AN', 1)]
,
[158, 152, 142, 139, 136, 124, 88, 86, 83, 74, 73, 63, 63, 58, 54, 53, 42, 37, 36, 36, 35, 32, 31, 30, 26, 24, 23, 21, 21, 20, 20, 20, 20, 19, 18, 17, 17, 16, 16, 15, 15, 15, 14, 13, 13, 13, 12, 12, 12, 12, 11, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
total number of words: 4304

위 코드는 주어진 단어 빈도 데이터를 사용하여 단어 집합(vocabulary)을 만드는 작업을 수행합니다.

- `word_freq.most_common(vocabulary_size-1)`: `word_freq` 객체에 저장된 단어 빈도 데이터 중에서 가장 빈도가 높은 단어부터 `vocabulary_size-1`개를 선택합니다. 여기서 -1은 빈도가 가장 낮은 단어를 위해 하나의 위치를 남겨두는 것을 의미합니다.

- `index_to_word = [x[0] for x in vocab]`: 빈도가 높은 순으로 선택된 단어들을 담은 리스트를 만듭니다. 각 요소는 (단어, 빈도) 튜플에서 단어만 추출합니다.

- `index_to_word.append(unknown_token)`: 알려지지 않은 단어를 나타내는 특별한 토큰인 `unknown_token`을 단어 집합에 추가합니다.

- `word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])`: 단어와 해당 인덱스를 매핑하는 딕셔너리인 `word_to_index`를 생성합니다. `enumerate(index_to_word)`를 사용하여 각 단어와 해당 인덱스를 순회하고, 이를 딕셔너리로 변환합니다.

### Exercise 2.1

Code your own TF-IDF representation function and use it on this dataset. (Don't use code from libraries. Build your own function with Numpy/Pandas). Use the formular TFIDF = TF * (IDF+1). The effect of adding “1” to the idf in the equation above is that terms with zero idf, i.e., terms that occur in all documents in a training set, will not be entirely ignored. The term frequency is the raw count of a term in a document. The inverse document frequency is the natural logarithm of the inverse fraction of the documents that contain the word.

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())

def tfidf(df):
    # TFIDF = TF * (IDF + 1)
    # idf에 1을 더하는 이유는 모든 단어가 적어도 한 번은 나타나야 하기 때문. idf가 0이 되는 것을 방지.
    # TF(d, w) = (특정 단어 w의 문서 d 내 등장 횟수) / (해당 문서 d 내 총 단어 수)
    # IDF(w) = log_e(총 문서 수 / w를 포함한 문서 수)
    pass
    '''
    ## tokenizing words
    tokenized_sentences = [nltk.word_tokenize(sent) for sent in df]
    print(tokenized_sentences)
    #unknown_token = 'unknown'
    word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences)) # word frequency in tokenized sentences
    print (f"Found {len(word_freq.items())} unique words tokens.")
    
    vocabulary_size = len(word_freq.items())
    vocab = word_freq.most_common(vocabulary_size-1)
    
    # calculate term frequency ---
    ## total number of words
    #total = sum(word_freq.values()) # total number of words in all documents
    
    total = [x[1] for x in vocab]
    total = sum(total)
    print(f"total number of words: {total}")
    
    
    word_tf = [x[0] for x in vocab]
    freq_tf = [x[1]/total for x in vocab]# term frequency
    tf = dict(zip(word_tf, freq_tf))
    
    # calculate inverse document frequency ---
    ## 문서 내에 단어가 있는지 여부를 나타내는 딕셔너리 생성
    ## create dictionary to indicate whether word is in document
    
    document_contains_word = {}
     for column in df.columns:
      for doc in df[column]:  # 'column_name'을 실제 텍스트가 있는 열 이름으로 바꿔주세요.
        for word in set(nltk.word_tokenize(doc)):   # 문서를 단어로 분할하고 중복 제거
          if word in document_contains_word:  # 만약 단어가 이미 딕셔너리에 있으면
            document_contains_word[word] += 1 # 해당 단어가 포함된 문서 수를 1 증가
          else:                 # 없으면
            document_contains_word[word] = 1  # 새로운 단어로 추가

    
    # IDF 계산
    idf = {}
    num_documents = len(df)
    for word, doc_count in document_contains_word.items():
        idf[word] = np.log(num_documents / doc_count)        # 전체 문서 수
        
    tfidf = {}
    for doc_index, doc in enumerate(df):
        tfidf[doc_index] = {}
        for word in doc:
            tfidf[doc_index][word] = tf[word] * (idf[word] + 1)  # TF * (IDF + 1)
    
    return tfidf
    '''
    # at least i tried
    
    return None

tfidf(df)
    
    
rep = tfidf(df)

# Check if your implementation is correct
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(norm=None, smooth_idf=False, use_idf=True)
X_train = pd.DataFrame(vectorizer.fit_transform(data).toarray(), columns=countvec.get_feature_names_out())
answer=['No','Yes']
epsilon = 0.0001
if rep is None: 
  print (f'Is this implementation correct?\nAnswer: {answer[0]}')
if rep is not None:
  print (f'Is this implementation correct?\nAnswer: {answer[1*np.all((X_train - rep) < epsilon)]}')
  
print(df)

Is this implementation correct?
Answer: No
    02  041300  07  0815  10  101  10511  11  115397  12  ...  yellow  \
0    0       0   0     0   0    0      0   0       0   0  ...       0
1    0       0   0     0   0    0      0   0       0   0  ...       0
2    0       0   0     0   0    0      0   1       0   0  ...       0
3    0       0   0     0   0    0      0   0       0   0  ...       0
4    0       0   0     0   0    0      0   0       0   0  ...       0
5    0       0   0     0   0    0      0   0       0   0  ...       0
6    0       0   0     0   0    0      0   0       0   0  ...       0
7    0       0   0     0   1    0      0   0       0   0  ...       0
8    0       0   0     0   0    0      0   0       0   0  ...       3
9    0       0   0     0   0    0      0   0       0   0  ...       0
10   0       0   0     0   0    0      0   0       0   1  ...       0
11   0       0   0     0   0    0      0   1       0   0  ...       0
12   0       0   0     1   0    0      0   0       0   0  ...       0
13   0       0   0     0   0    0      0   0       0   0  ...       0
14   0       0   0     0   0    0      0   0       0   0  ...       0
15   1       0   1     0   0    0      0   0       0   0  ...       0
16   0       0   0     0   0    0      0   0       0   0  ...       0
17   0       1   0     0   0    1      0   0       0   0  ...       0
18   0       0   0     0   0    0      1   0       0   0  ...       0
19   0       0   0     0   0    0      0   0       1   0  ...       0

    yeltsin  yet  you  young  younger  your  z3  zeta  zeus
0         0    0    0      0        0     0   0     0     0
1         0    0    0      0        1     0   0     0     0
2         0    0    0      1        0     0   0     0     0
3         0    0    5      0        0     2   0     0     0
4         0    0    0      0        0     0   0     0     0
5         0    0    0      0        0     0   0     0     0
6         0    0    0      0        0     0   0     0     0
7         0    0    1      1        0     0   0     0     0
8         0    0    1      0        0     0   0     0     0
9         0    0    0      0        0     0   0     0     0
10        0    0    0      0        0     0   0     0     0
11        0    0    2      0        0     0   0     0     0
12        0    0    0      0        0     0   0     0     0
13        1    0    2      0        0     0   0     0     0
14        0    0    2      0        0     0   0     0     0
15        0    0    0      0        0     0   1     1     0
16        0    0    0      0        0     0   0     0     1
17        0    0    2      0        0     0   0     0     0
18        0    0    1      0        0     0   0     0     0
19        0    1    1      0        0     0   0     0     1

[20 rows x 1440 columns]

In [14]:
# an example of what to do with these similarities:


# analysis with tf-idf
from sklearn.metrics.pairwise import cosine_similarity

similiarities = cosine_similarity(rep, rep) # measure of the similarity of the direction of two vectors

InvalidParameterError: The 'X' parameter of cosine_similarity must be an array-like or a sparse matrix. Got None instead.

In [ ]:
np.fill_diagonal(similiarities, 0)
max_ind = np.unravel_index(similiarities.argmax(), similiarities.shape)
similiarities[max_ind] # highest similarity of two documents

NameError: name 'similiarities' is not defined