## Learning Pandas and Matplotlib

Pandas is Pythons library that enables broad possibilities for data analysis.
By using Pandas it is very easy to upload, manage and analyse data from different tables by using SQL-like commands. Moreover, in connection with the libraries Matplotlib and Seaborn, Pandas gives broad possibilites to visualise the data.

In [3]:
#First import the libraries/packages we need
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
from matplotlib.pyplot import rcParams
rcParams['figure.figsize'] = 8, 5
import seaborn as sns

We study the main methods of Pandas and Matplotlib packages by working with the dataset that describes the churn rate of the customers of a telecom company.

<b>Exercise 1:</b>

Read the data from the file 'telecom_churn.csv' and display the first 5 rows by using the method 'head'. <b> Hint :</b> The method read_csv can be useful

In [4]:
### Write Your code here ###
data = pd.read_csv('telecom_churn.csv')
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

<b>Exercise 2:</b>

Display the size of the data array, information about it, and its main statistical characteristics. <b>Hint:</b> use methods shape, info, describe.

In [13]:
### Write Your code here ###
data.shape
data.info
data.describe

<bound method NDFrame.describe of      State  Account length  Area code International plan Voice mail plan  \
0       KS             128        415                 No             Yes
1       OH             107        415                 No             Yes
2       NJ             137        415                 No              No
3       OH              84        408                Yes              No
4       OK              75        415                Yes              No
...    ...             ...        ...                ...             ...
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
0                        25              265.1              110
1                        26              161.6              123
2                         0              243.4              114
3                         0              299.4               71
4                         0              166.7              113
...                     ...                ...              ...
3328                     36              156.2               77
3329                      0              231.1               57
3330                      0              180.8              109
3331                      0              213.8              105
3332                     25              234.4              113

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0                45.07              197.4               99             16.78
1                27.47              195.5              103             16.62
2                41.38              121.2              110             10.30
3                50.90               61.9               88              5.26
4                28.34              148.3              122             12.61
...                ...                ...              ...               ...
3328             26.55              215.5              126             18.32
3329             39.29              153.4               55             13.04
3330             30.74              288.8               58             24.55
3331             36.35              159.6               84             13.57
3332             39.85              265.9               82             22.60

      Total night minutes  Total night calls  Total night charge  \
0                   244.7                 91               11.01
1                   254.4                103               11.45
2                   162.6                104                7.32
3                   196.9                 89                8.86
4                   186.9                121                8.41
...                   ...                ...                 ...
3328                279.1                 83               12.56
3329                191.3                123                8.61
3330                191.9                 91                8.64
3331                139.2                137                6.26
3332                241.4                 77               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
0                   10.0                 3               2.70
1                   13.7                 3               3.70
2                   12.2                 5               3.29
3                    6.6                 7               1.78
4                   10.1                 3               2.73
...                  ...               ...                ...
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
0                          1  False
1                          1  False
2                          0  False
3                          2  False
4                          3  False
...                      ...    ...
3328                       2  False
3329                       3  False
3330                       2  False
3331                       2  False
3332                       0  False

[3333 rows x 20 columns]>

<b>Exercise 3:

</b>Convert the column 'Churn' to the int64 type. <b> Hint:</b> use the astype method 

Plot the distribution of the churn and  loyal clients in the bar plot. The figure should look like this:

<img src="dist_churn.png">

In [ ]:
### Write Your code here ###

### Sorting

<b>Exercise 4:</b>

Sort the dataframe you have obtained in exercise 3 by the value in 'Total day charge' in descending/ascending order.
Also sort it by using the column 'Churn' as the primary key and 'Total eve calls' as the secondary key. Try different combinations of ordering. 

<b> Hint:</b> use the method sort_values

In [ ]:
### Write Your code here ###

### Indexing and extracting information from the dataframe

By using Pandas dataframes we are able to index and extract information from the dataset. You can index the information stored in dataframe either by names or by indices. In the first case you use the command loc, in the second iloc. 

<b> Hint: </b> Use logical indexing for the columns and the groupby method to solve the tasks.

<b>Exercise 5:</b>
* Display the mean churn rate of the clients.
* Now we want to analyse statistical information only for the clients, which are or aren't loyal to their telecom-company (field 'Churn' in dataframe). Extract the loyal and non-loyal clients from the table separately and display the means of their charateristics in a single dataframe.
* How long do the non-loyal users talk during the day (on average)?
* What is the maximum length of the international calls for the loyal users that do not use the international plan?

In [ ]:
### Write Your code here ###

### Distribution of the features

<b>Exercise 6:</b>

Plot the distribution of the features that have numerical values. 

<b> Hint: </b>use the method hist which can also be applied from the pandas dataframe. It should look like that:
<img src="hist_feat.png">

What do you observe? From which probability distribution could each feature be generated?

In [ ]:
### Write Your code here ###

### Pivot tables and graphics

We want to see how the instances are distributed between two categories: 'International plan' and 'Churn'. 

<b>Exercise 7:</b>
* Build the cross table between the features using the method <i>crosstab</i>.
* Visualize the distribution for the feature 'Churn', depending on the value of the features 'International plan', 'Voice mail plan', and 'Customer service calls'.
<b>Hint:</b> Use commands plt.sublot and sns.subplots.

Your plot should look something like this:
<img src="dist_crosstab.png">

What do you see? What conclusions can be drawn? What feature (intuitively) can be more important for Churn prediction?

In [ ]:
### Write Your code here ###

<b>Exercise 8:</b>

Add a new feature to the dataframe which will describe whether or not the user has done more than 3 service calls. Investigate how this feature describes the churn rate.

In [ ]:
### Write Your code here ###